{namespace example}

/**
 * Test template
 * @param stylesheet
 * @param js
 */
{template .index}
<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" media="screen" href="{$stylesheet}">
        <link rel="shortcut icon" type="image/png" href="">
        <script src="{$js}" type="text/javascript"></script>
    </head>
    <body>
        Hello World
    </body>
</html>
{/template}
